---
name: CI
on:
    push:
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: "0 4 * * 1,4"
    release:
        types:
            - published
            - created

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-24.04
        steps:
            - name: Check out codebase
              uses: actions/checkout@v6
            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                  version: "0.9.18"
            - name: "Set up Python"
              uses: actions/setup-python@v6
              with:
                  python-version-file: ".python-version"
            - uses: extractions/setup-just@v3
              with:
                  just-version: "1.39.0"

            - name: Run lints
              run: |
                  uv sync --locked --all-extras --dev
                  just lint

            - name: Run pre-commit checks
              uses: pre-commit/action@v3.0.1

    test:
        name: Test
        runs-on: ubuntu-24.04
        steps:
            - name: Check out codebase
              uses: actions/checkout@v6
            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                  version: "0.9.18"
            - name: "Set up Python"
              uses: actions/setup-python@v6
              with:
                  python-version-file: ".python-version"
            - uses: extractions/setup-just@v3
              with:
                  just-version: "1.39.0"

            - name: Run pytest
              run: |
                  uv sync --locked --all-extras --dev
                  just test

    docker:
        name: "Publish Docker Image"
        runs-on: ubuntu-24.04
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
        needs:
            - lint
            - test
        steps:
            - name: Check out codebase
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Login to quay.io
              uses: docker/login-action@v3
              with:
                  registry: quay.io
                  username: ${{ secrets.QUAY_USERNAME }}
                  password: ${{ secrets.QUAY_TOKEN }}

            # version is either the major release ('1'), major + minor ('1.2') or full version ('1.2.3-pre.4')
            # Note that no tag '0[-arch]' will be generated, as 0.x versions are unstable and should not be relied upon
            - name: Generate docker tags
              id: tags
              uses: docker/metadata-action@v5
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  images: |
                      ghcr.io/${{ github.repository }}
                      quay.io/${{ github.repository }}
                  tags: |
                      type=semver,pattern={{version}},enable=${{ startsWith(github.ref, 'refs/tags/v')}}
                      type=semver,pattern={{major}}.{{minor}},enable=${{ startsWith(github.ref, 'refs/tags/v')}}
                      type=semver,pattern={{major}},enable=${{ startsWith(github.ref, 'refs/tags/v') && !startsWith(github.ref, 'refs/tags/v0.') }}
                      latest
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  tags: ${{ steps.tags.outputs.tags }}
                  push: true
                  file: Dockerfile
