---
name: Prepare a new App Release

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    version-maintenance:
        name: Update version numbers according to PR labels
        runs-on: ubuntu-24.04
        if: github.ref == 'refs/heads/main'
        steps:
            - name: Check out codebase
              uses: actions/checkout@v5
            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                  version: "0.9.16"
            - name: "Set up Python"
              uses: actions/setup-python@v6
              with:
                  python-version-file: ".python-version"

            - uses: release-drafter/release-drafter@v6
              id: drafter
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Extract version from release name
              run: echo "RESOLVED_VERSION=$(echo ${{ steps.drafter.outputs.name }} | sed 's/v//')" >> $GITHUB_ENV

            - name: Update version in pyproject.toml
              run: |
                  python -c "import re, os; f='pyproject.toml'; d=open(f).read(); open(f,'w').write(re.sub(r'(?m)^(version\s*=\s*).+', rf'\\1\"{os.environ[\"RESOLVED_VERSION\"]}\"', d))"
                  uv lock
              env:
                  RESOLVED_VERSION: ${{ env.RESOLVED_VERSION }}

            - name: Open PR for release
              uses: peter-evans/create-pull-request@v7
              with:
                  base: main
                  add-paths: |
                      pyproject.toml
                      uv.lock
                  title: Update app version to ${{ env.RESOLVED_VERSION }}
                  body: |
                      One or more changes have been merged into main since the last release.

                      This PR updates the apps version number in accordance with the PR labels.

                      Merge this PR before publishing a new release.
                  commit-message: Update app version to ${{ env.RESOLVED_VERSION }}
                  branch: maintenance/version-bump
                  labels: chore
                  delete-branch: true
